<% content_for(:head) do %>
  <%= javascript_tag do %>
    function calcula_total(input){
      var total = parseFloat($($(input).closest('tr').find('input.para_calcula')[0]).val()) * 	parseFloat($($(input).closest('tr').find('input.para_calcula')[1]).val()) * 
(1 + (parseFloat($($(input).closest('tr').find('input.para_calcula')[2]).val())/100));

      $($(input).closest('tr').find('.calcula_total')[0]).html(total.toFixed(2));
    }
  <% end %>
<% end %>

<%= semantic_form_for [@supplier,@factura] do |f| %>
 <%= f.semantic_errors %>

	<%= f.inputs do %>
	  <%= f.input :fecha , :as => :datepicker %>
	  <%= t('activerecord.attributes.supplier.razonsocial') + ' : ' + @supplier.razonsocial %>
	  <%= f.input :numero , :as => :numeric, :input_html => { :size => 10, :style => "text-align:right;" } %>
	  <%= f.input :fechavto , :as => :datepicker %>

	<table>
		<tr>
			<th>Descripcion</th>
			<th>Cantidad</th>
			<th>Precio unitario</th>
			<th>tasa IVA</th>
			<th>Total item</th>
			<th> </th>		
		</tr>
	</table>

	<div class="links">
		<%= link_to_add_association icon('add', :small, :style => 'vertical-align:middle;')+'Agrega detalle', f, :detalles,'data-association-insertion-position' => :after , :class => 'global_button button'%>
	</div>

	<div class='detalles'>
		<%= f.semantic_fields_for :detalles do |fd|%>    
	    	<%= render 'detalle_fields', :f => fd %> 
		<% end %>
	</div>
	<% end %>
<%= render('shared/common_form_buttons') %>
<% end %>