<% content_for(:sidebar) do %>
<div class='block'>
  <ul class='navigation'>    
    <li><%= link_to("Nueva Factura", new_supplier_factura_path(@supplier))%></li>
    <li><%= link_to("Nuevo Recibo", new_recibo_path)%></li>
    <li><%= link_to("Nueva Nota de credito", new_notacredito_path)%></li>
	
    <li><%= link_to("Facturas vs Recibos", facturarecibos_path)%></li>
    <li><%= link_to("Facturas vs Notas de credito", facturanotacreditos_path)%></li>
	<li><%= link_to("Cuenta corriente", cuentacorriente_supplier_path(@supplier) )%></li>
  </ul>
</div>
<%end%>
