<h1>Listado de cuenta corriente del proveedor <%= @supplier.razonsocial %></h1>

<% content_for(:breadcrumbs) do %>
<%= breadcrumbs do |b|
	b.item "Principal", root_path
    b.item "Clientes", suppliers_path
    b.item @supplier.razonsocial, root_path, :active => true
end %>
<%end%>

<% content_for(:controls) do %>
<%= controls do |c|
    c.item "Exportar PDF", cuentacorriente_supplier_path(@cliente, :format => 'pdf'), :icon => "report_go"
    c.item "Volver", suppliers_path, :icon => "application_go"
end %>
<%end%>

<table class="table ">
 <tr>
    <th>T.C.</th>	
    <th>Numero</th>
    <th>Fecha</th>
    <th>Importe</th>
    <th>Fecha Vto</th>
    <th>Fecha Registro</th>
  </tr>
<% @cuentacorriente.each do |cpbte| %>
  <tr>
    <td><%= cpbte.type %></td>	
    <td align="right"><%= cpbte.numero %></td>
    <td><%= cpbte.fecha %></td>
    <td align="right"><%= cpbte.total %></td>
    <td><%= cpbte.fechavto %></td>
	  <td><%= cpbte.created_at %></td>
  </tr>
<% end %>
<tr>
  <td>Saldo</td>	
  <td></td>
  <td></td>
  <td align="right"><%= @supplier.saldo %></td>
  <td></td>
</tr>
</table>
