<% content_for(:breadcrumbs) do %>
<%= breadcrumbs do |b|
	  b.item t('scaffold.actions.main'), root_path
    b.item t('activerecord.models.supplier'), suppliers_path
    b.item @supplier.razonsocial, root_path, :active => true
end %>
<%end%>

<% content_for(:controls) do %>
<%= controls do |c|
    c.item "Exportar PDF", cuentacorriente_supplier_path(@supplier, :format => 'pdf'), :icon => "report_go"
    c.item "Volver", suppliers_path, :icon => "application_go"
end %>
<%end%>

<h1>Listado de cuenta corriente del <%= @supplier.razonsocial %></h1>

<table class="table ">
 <tr>
    <th>T.C.</th>	
    <th>Numero</th>
    <th>Fecha</th>
    <th>Importe</th>
    <th>Fecha Vto</th>
    <th>Fecha Registro</th>
    <th></th>
  </tr>
<% @cuentacorriente.order('fecha').each do |cpbte| %>
  <tr>
    <td><%= cpbte.type %></td>	
    <td align="right"><%= cpbte.numero %></td>
    <td><%= cpbte.fecha %></td>
    <td align="right"><%= cpbte.total %></td>
    <td><%= cpbte.fechavto %></td>
	  <td><%= cpbte.created_at %></td>
    <td class="actions"><%= link_to icon('application_go', :small, :title => 'ver'), [@supplier, cpbte] %></td>
  </tr>
<% end %>
<tr>
  <td><b>Saldo</b></td>	
  <td></td>
  <td></td>
  <td align="right"><b><%= @supplier.saldo %></b></td>
  <td></td>
</tr>
</table>
