<% content_for(:breadcrumbs) do %>
<%= breadcrumbs do |b|
	b.item "Principal", root_path
    b.item "Suppliers", suppliers_path
    b.item @supplier.razonsocial, root_path, :active => true
end %>
<%end%>

<% content_for(:controls) do %>
<%= controls do |c|
    c.item "Exportar PDF", supplier_path( :format => 'pdf'), :icon => "report_go"
    c.item "Editar", edit_supplier_path(@supplier), :icon => "application_form_edit"
    c.item "Volver", suppliers_path, :icon => "application_go"
end %>
<%end%>

<%= render 'sidebar' %>

<%= semantic_attributes_for @supplier do |attr| %>
  <%= attr.attributes do %>
	<%= attr.attribute :razonsocial , :label => "Razón social"%>
	<%= attr.attribute :cuit %>
   	<%= attr.attribute :telefono %>
   	<%= attr.attribute :direccion %>
  	<%= attr.attribute :contacto , :label => "Contacto", :display_empty => true %>
   	<%= attr.attribute :condicioniva_id, :display_empty => true, :value => @supplier.condicioniva.try('detalle') %>
   	<%= attr.attribute :account_id, :display_empty => true, :value => @supplier.account.try('name') %>
  <% end %>
<% end %>
<hr>
<p>
  <b>Facturas</b>
</p>
<table>
 <tr>
    <th>Numero</th>
    <th>Fecha</th>
    <th>Importe</th>
    <th>Fecha Vto</th>
  </tr>
<% @supplier.facturas.each do |cpbte| %>
  <tr>
    <td><%= cpbte.numero %></td>
    <td><%= cpbte.fecha %></td>
    <td><%= cpbte.importe %></td>
    <td><%= cpbte.fechavto %></td>
  </tr>	
<% end %>
</table>

<hr>
<p>
  <b>Recibos</b>
</p>
<table>
 <tr>
    <th>Numero - </th>
    <th>Fecha - </th>
    <th>Importe</th>
  </tr>

<% #raise @supplier.recibos.inspect %>
<% @supplier.recibos.each do |cpbte| %>

  <tr>
    <td><%= cpbte.numero %></td>
    <td><%= cpbte.fecha %></td>
    <td><%= cpbte.importe %></td>
  </tr>
<% end %>
</table>

<hr>
<p>
  <b>Nota de credito</b>
</p>
<table>
 <tr>
    <th>Numero</th>
    <th>Fecha</th>
    <th>Importe</th>
  </tr>
<% @supplier.notacreditos.each do |cpbte| %>
  <tr>
    <td><%= cpbte.numero %></td>
    <td><%= cpbte.fecha %></td>
    <td><%= cpbte.importe %></td>
  </tr>
<% end %>
</table>